/*blog Style Css*/
#blog-section{
    display: flex;
    flex-direction: column;
    background-color: #faf9f7;
}
#blog-section .title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#blog-section .title span{
    font-family: 'Bitter';
    font-size: 72px;
    line-height: 5.3em;
    font-weight: 600;
    color: #333333;
}

#blog-section .blog-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*margin-top: 100px;*/
    padding-bottom: 7%;
}
#blog-section .blog-content .blog{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 50px;
    justify-content: center;
}
#blog-section .blog-content .blog .blog-photo{}
#blog-section .blog-content .blog .blog-photo img{
    width: 380px;
}
#blog-section .blog-content .blog .blog-information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 3%;
}
#blog-section .blog-content .blog .blog-information .date{}
#blog-section .blog-content .blog .blog-information .date span{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    color: #2D2D2D;
}
#blog-section .blog-content .blog .blog-information .title{
    width: 90%;
}
#blog-section .blog-content .blog .blog-information .title a{
    text-decoration: none;
    font-family: 'Bitter';
    font-size: 18px;
    font-weight: 400;
    color: #2D2D2D;
}
#blog-section .blog-content .blog .blog-information .more{}
#blog-section .blog-content .blog .blog-information .more a{
    text-decoration: none;
    font-family: 'Bitter';
    font-size: 16px;
    font-weight: 400;
    color: #d99c57;
}
#blog-section .blog-content .blog .blog-information .more a:hover{
    border-bottom: 1px solid #d99c57;

}


@media (max-width: 1500px) {
    #blog-section{}
    #blog-section .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #blog-section .title span{
        font-family: 'Bitter';
        font-size: 56px;
        line-height: 5.3em;
        font-weight: 600;
        color: #333333;
    }

    #blog-section .blog-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /*margin-top: 100px;*/
        padding-bottom: 7%;
    }
    #blog-section .blog-content .blog{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 50px;
        justify-content: center;
    }
    #blog-section .blog-content .blog .blog-photo{}
    #blog-section .blog-content .blog .blog-photo img{
        width: 340px;
    }
    #blog-section .blog-content .blog .blog-information{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 3%;
    }
    #blog-section .blog-content .blog .blog-information .date{}
    #blog-section .blog-content .blog .blog-information .date span{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 600;
        color: #2D2D2D;
    }
    #blog-section .blog-content .blog .blog-information .title{
        width: 90%;
    }
    #blog-section .blog-content .blog .blog-information .title a{
        text-decoration: none;
        font-family: 'Bitter';
        font-size: 18px;
        font-weight: 400;
        color: #2D2D2D;
    }
    #blog-section .blog-content .blog .blog-information .more{}
    #blog-section .blog-content .blog .blog-information .more a{
        text-decoration: none;
        font-family: 'Bitter';
        font-size: 16px;
        font-weight: 400;
        color: #d99c57;
    }
    #blog-section .blog-content .blog .blog-information .more a:hover{
        border-bottom: 1px solid #d99c57;

    }

}
@media (max-width: 1024px) {
    #blog-section{}
    #blog-section .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #blog-section .title span{
        font-family: 'Bitter';
        font-size: 56px;
        line-height: 5.3em;
        font-weight: 600;
        color: #333333;
    }

    #blog-section .blog-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /*margin-top: 100px;*/
        padding-bottom: 7%;
    }
    #blog-section .blog-content .blog{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 50px;
        justify-content: center;
    }
    #blog-section .blog-content .blog .blog-photo{}
    #blog-section .blog-content .blog .blog-photo img{
        width: 280px;
    }
    #blog-section .blog-content .blog .blog-information{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 3%;
    }
    #blog-section .blog-content .blog .blog-information .date{}
    #blog-section .blog-content .blog .blog-information .date span{
        font-family: Roboto;
        font-size: 12px;
        font-weight: 600;
        color: #2D2D2D;
    }
    #blog-section .blog-content .blog .blog-information .title{
        width: 90%;
    }
    #blog-section .blog-content .blog .blog-information .title a{
        text-decoration: none;
        font-family: 'Bitter';
        font-size: 16px;
        font-weight: 400;
        color: #2D2D2D;
    }
    #blog-section .blog-content .blog .blog-information .more{}
    #blog-section .blog-content .blog .blog-information .more a{
        text-decoration: none;
        font-family: 'Bitter';
        font-size: 14px;
        font-weight: 400;
        color: #d99c57;
    }
    #blog-section .blog-content .blog .blog-information .more a:hover{
        border-bottom: 1px solid #d99c57;

    }

}
@media (max-width: 768px) {
    #blog-section{}
    #blog-section .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #blog-section .title span{
        font-family: 'Bitter';
        font-size: 56px;
        line-height: 5.3em;
        font-weight: 600;
        color: #333333;
    }

    #blog-section .blog-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /*margin-top: 100px;*/
        padding-bottom: 7%;
    }
    #blog-section .blog-content .blog{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 50px;
        justify-content: center;
    }
    #blog-section .blog-content .blog .blog-photo{}
    #blog-section .blog-content .blog .blog-photo img{
        width: 160px;
    }
    #blog-section .blog-content .blog .blog-information{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 3%;
    }
    #blog-section .blog-content .blog .blog-information .date{}
    #blog-section .blog-content .blog .blog-information .date span{
        font-family: Roboto;
        font-size: 10px;
        font-weight: 600;
        color: #2D2D2D;
    }
    #blog-section .blog-content .blog .blog-information .title{
        width: 90%;
    }
    #blog-section .blog-content .blog .blog-information .title a{
        text-decoration: none;
        font-family: 'Bitter';
        font-size: 14px;
        font-weight: 400;
        color: #2D2D2D;
    }
    #blog-section .blog-content .blog .blog-information .more{}
    #blog-section .blog-content .blog .blog-information .more a{
        text-decoration: none;
        font-family: 'Bitter';
        font-size: 12px;
        font-weight: 400;
        color: #d99c57;
    }
    #blog-section .blog-content .blog .blog-information .more a:hover{
        border-bottom: 1px solid #d99c57;

    }
}
@media (max-width: 500px) {
    #blog-section{}
    #blog-section .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #blog-section .title span{
        font-family: 'Bitter';
        font-size: 56px;
        line-height: 5.3em;
        font-weight: 600;
        color: #333333;
    }

    #blog-section .blog-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /*margin-top: 100px;*/
        padding-bottom: 7%;
    }
    #blog-section .blog-content .blog{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 50px;
        justify-content: center;
    }
    #blog-section .blog-content .blog .blog-photo{}
    #blog-section .blog-content .blog .blog-photo img{
        width: 120px;
    }
    #blog-section .blog-content .blog .blog-information{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 3%;
    }
    #blog-section .blog-content .blog .blog-information .date{}
    #blog-section .blog-content .blog .blog-information .date span{
        font-family: Roboto;
        font-size: 10px;
        font-weight: 600;
        color: #2D2D2D;
    }
    #blog-section .blog-content .blog .blog-information .title{
        width: 100%;
    }
    #blog-section .blog-content .blog .blog-information .title a{
        text-decoration: none;
        font-family: 'Bitter';
        font-size: 12px;
        font-weight: 400;
        color: #2D2D2D;
    }
    #blog-section .blog-content .blog .blog-information .more{}
    #blog-section .blog-content .blog .blog-information .more a{
        text-decoration: none;
        font-family: 'Bitter';
        font-size: 12px;
        font-weight: 400;
        color: #d99c57;
    }
    #blog-section .blog-content .blog .blog-information .more a:hover{
        border-bottom: 1px solid #d99c57;

    }
}
