body {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Bitter';
    font-size: 72px;
    font-weight: 600;
    color: #333333;
    padding: 0;
    margin: 0;
}

label {
    font-family: 'Bitter';
    font-size: 18px;
    margin: 9px 0 5px 0;
    font-weight: 600;
    color: #2D2D2D;
}

.content{
    padding: 96px 134px 96px 134px;
}


@media (max-width: 1500px) {
    h2 {
        font-family: 'Bitter';
        font-size: 32px;
        font-weight: 600;
        color: #333333;
        padding: 0;
        margin: 0;
    }
    label {
        font-family: 'Bitter';
        font-size: 18px;
        margin: 9px 0 5px 0;
        font-weight: 600;
        color: #2D2D2D;
    }
    .content{
        padding: 34px 78px 96px 78px !important;
    }
}
@media (max-width: 1024px) {
    h2 {
        font-family: 'Bitter';
        font-size: 26px;
        font-weight: 600;
        color: #333333;
        padding: 0;
        margin: 0;
    }
    label {
        font-family: 'Bitter';
        font-size: 16px;
        margin: 9px 0 5px 0;
        font-weight: 600;
        color: #2D2D2D;
    }
    .content{
        padding: 26px 34px 44px 34px !important;
    }
}
@media (max-width: 768px) {
    h2 {
        font-family: 'Bitter';
        font-size: 22px;
        font-weight: 600;
        color: #333333;
        padding: 0;
        margin: 0;
    }
    label {
        font-family: 'Bitter';
        font-size: 14px;
        margin: 9px 0 5px 0;
        font-weight: 600;
        color: #2D2D2D;
    }
    .content{
        padding: 26px 34px 44px 34px !important;
    }
}
@media (max-width: 500px) {
    h2 {
        font-family: 'Bitter';
        font-size: 18px;
        font-weight: 600;
        color: #333333;
        padding: 0;
        margin: 0;
    }
    label {
        font-family: 'Bitter';
        font-size: 12px;
        margin: 9px 0 5px 0;
        font-weight: 600;
        color: #2D2D2D;
    }
    .content{
        padding: 26px 34px 44px 34px !important;
    }
}




/* blog Style Css*/
#lets-connect {
    display: flex;
    flex-direction: column;
    background-color: #faf9f7;
}

#lets-connect .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lets-connect .title span {
    font-family: 'Bitter';
    font-size: 72px;
    line-height: 5.3em;
    font-weight: 600;
    color: #333333;
}

#lets-connect .lets-connect-content {
    display: flex;
    flex-direction: row;
    background-color: #faf9f7;
    justify-content: center;
    padding-top: 118px;

}

#lets-connect .lets-connect-content .lets-connect-photo img {
    width: 100%;
    height: 600px;
}

#lets-connect .lets-connect-content .lets-connect-photo {
    display: block;
    width: 50%;
    background-image: url("../images/lets-connect/lets-connect.jpg");
    background-repeat: no-repeat;
    margin-left: 140px;
}

#lets-connect .lets-connect-content .input-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    /*border: 1px solid;*/
}
#lets-connect .lets-connect-content .input-list .social {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
    width: 200px;
}

#lets-connect .lets-connect-content .input-list .social a .facebook {
    width: 58px;
    height: 58px;
    background-image: url('../images/lets-connect/socials.png');
    background-position: 309px 306px;
}

#lets-connect .lets-connect-content .input-list .social a .instagram {
    width: 58px;
    height: 58px;
    background-image: url('../images/lets-connect/socials.png');
    background-position: 628px 223px;
}

#lets-connect .lets-connect-content .input-list .social a .gmail {
    width: 58px;
    height: 58px;
    background-image: url('../images/lets-connect/socials.png');
    background-position: 69px 305px;
}




#lets-connect .lets-connect-content .input-list .contact {
    margin-top: 48px;
}

#lets-connect .lets-connect-content .input-list .contact .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .first-name {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
}


#lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .first-name input {
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

#lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .last-name {
    display: flex;
    flex-direction: column;
    /*padding-top:32px;*/
    flex-basis: 45%;
}

#lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .last-name input {
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

#lets-connect .lets-connect-content .input-list .contact .contact-list .email {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

#lets-connect .lets-connect-content .input-list .contact .contact-list .email input {
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

#lets-connect .lets-connect-content .input-list .contact .contact-list .message {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

#lets-connect .lets-connect-content .input-list .contact .contact-list .message textarea {
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

#lets-connect .lets-connect-content .input-list .send {
    margin-top: 42px;
}

#lets-connect .lets-connect-content .input-list .send a {
    text-decoration: none;
}

#lets-connect .btn-submit {
    font-family: "Roboto Light";
    font-weight: 400;
    font-size: 26px;
    padding: 2% 4% 2% 4%;
    background-color: #d99c52;
    border: none;
    color: #FFFFFF;
}





@media (max-width: 1500px) {
    #lets-connect {
        display: flex;
        flex-direction: column;
        background-color: #faf9f7;
    }

    #lets-connect .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #lets-connect .title span {
        font-family: 'Bitter';
        font-size: 72px;
        line-height: 5.3em;
        font-weight: 600;
        color: #333333;
    }

    #lets-connect .lets-connect-content {
        display: flex;
        flex-direction: row;
        background-color: #faf9f7;
        justify-content: center;
        padding-top: 118px;

    }


    #lets-connect .lets-connect-content .lets-connect-photo img {
        width: 100%;
        height: 600px;
    }

    #lets-connect .lets-connect-content .lets-connect-photo {
        display: block;
        width: 50%;
        background-image: url("../images/lets-connect/lets-connect.jpg");
        background-repeat: no-repeat;
        margin-left: 110px;
    }

    #lets-connect .lets-connect-content .input-list {
        display: flex;
        flex-direction: column;
        width: 50%;
        /*border: 1px solid;*/
    }
    #lets-connect .lets-connect-content .input-list .social {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        justify-content: space-between;
        width: 145px;
    }

    #lets-connect .lets-connect-content .input-list .social a .facebook {
        width: 42px;
        height: 42px;
        background-size: 211px;
        background-position: 416px 411px;
        background-image: url('../images/lets-connect/socials.png');
    }

    #lets-connect .lets-connect-content .input-list .social a .instagram {
        width: 42px;
        height: 42px;
        background-size: 211px;
        background-position: 416px 357px;
        background-image: url('../images/lets-connect/socials.png');
    }

    #lets-connect .lets-connect-content .input-list .social a .gmail {
        width: 42px;
        height: 42px;
        background-size: 211px;
        background-position: 258px 412px;
        background-image: url('../images/lets-connect/socials.png');
    }




    #lets-connect .lets-connect-content .input-list .contact {
        margin-top: 48px;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .first-name {
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
    }


    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .first-name input {
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .last-name {
        display: flex;
        flex-direction: column;
        /*padding-top:32px;*/
        flex-basis: 45%;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .last-name input {
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .email {
        display: flex;
        flex-direction: column;
        padding-top: 32px;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .email input {
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .message {
        display: flex;
        flex-direction: column;
        padding-top: 32px;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .message textarea {
        width: 100%;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    #lets-connect .lets-connect-content .input-list .send {
        margin-top: 42px;
    }

    #lets-connect .lets-connect-content .input-list .send a {
        text-decoration: none;
    }

    #lets-connect .btn-submit {
        font-family: "Roboto Light";
        font-weight: 400;
        font-size: 26px;
        padding: 2% 4% 2% 4%;
        background-color: #d99c52;
        border: none;
        color: #FFFFFF;
    }

}
@media (max-width: 1024px) {
    #lets-connect {
        display: flex;
        flex-direction: column;
        background-color: #faf9f7;
    }

    #lets-connect .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #lets-connect .title span {
        font-family: 'Bitter';
        font-size: 72px;
        line-height: 5.3em;
        font-weight: 600;
        color: #333333;
    }

    #lets-connect .lets-connect-content {
        display: flex;
        flex-direction: row;
        background-color: #faf9f7;
        justify-content: center;
        padding-top: 118px;

    }

    #lets-connect .lets-connect-content .lets-connect-photo img {
        width: 100%;
        height: 600px;
    }

    #lets-connect .lets-connect-content .lets-connect-photo {
        display: none;
        width: 50%;
        background-image: url("../images/lets-connect/lets-connect.jpg");
        background-repeat: no-repeat;
        margin-left: 90px;
    }

    #lets-connect .lets-connect-content .input-list {
        display: flex;
        flex-direction: column;
        width: 50%;
        /*border: 1px solid;*/
    }
    #lets-connect .lets-connect-content .input-list .social {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        justify-content: space-between;
        width: 110px;
    }

    #lets-connect .lets-connect-content .input-list .social a .facebook {
        width: 32px;
        height: 32px;
        background-size: 169px;
        background-position: 670px 496px;
        background-image: url(../images/lets-connect/socials.png);
    }

    #lets-connect .lets-connect-content .input-list .social a .instagram {
        width: 32px;
        height: 32px;
        background-size: 169px;
        background-position: 500px 454px;
        background-image: url('../images/lets-connect/socials.png');
    }

    #lets-connect .lets-connect-content .input-list .social a .gmail {
        width: 32px;
        height: 32px;
        background-size: 169px;
        background-position: 206px 497px;
        background-image: url('../images/lets-connect/socials.png');
    }




    #lets-connect .lets-connect-content .input-list .contact {
        margin-top: 48px;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .first-name {
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
    }


    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .first-name input {
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .last-name {
        display: flex;
        flex-direction: column;
        /*padding-top:32px;*/
        flex-basis: 45%;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .last-name input {
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .email {
        display: flex;
        flex-direction: column;
        padding-top: 32px;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .email input {
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .message {
        display: flex;
        flex-direction: column;
        padding-top: 32px;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .message textarea {
        width: 100%;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    #lets-connect .lets-connect-content .input-list .send {
        margin-top: 42px;
    }

    #lets-connect .lets-connect-content .input-list .send a {
        text-decoration: none;
    }

    #lets-connect .btn-submit {
        font-family: "Roboto Light";
        font-weight: 400;
        font-size: 26px;
        padding: 2% 4% 2% 4%;
        background-color: #d99c52;
        border: none;
        color: #FFFFFF;
    }
}
@media (max-width: 768px) {
    #lets-connect {
        display: flex;
        flex-direction: column;
        background-color: #faf9f7;
    }

    #lets-connect .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #lets-connect .title span {
        font-family: 'Bitter';
        font-size: 72px;
        line-height: 5.3em;
        font-weight: 600;
        color: #333333;
    }

    #lets-connect .lets-connect-content {
        display: flex;
        flex-direction: row;
        background-color: #faf9f7;
        justify-content: center;
        padding-top: 118px;

    }

    #lets-connect .lets-connect-content .lets-connect-photo img {
        width: 100%;
        height: 600px;
    }

    #lets-connect .lets-connect-content .lets-connect-photo {
        display: none;
        width: 50%;
        background-image: url("../images/lets-connect/lets-connect.jpg");
        background-repeat: no-repeat;
        margin-left: 70px;
    }

    #lets-connect .lets-connect-content .input-list {
        display: flex;
        flex-direction: column;
        width: 50%;
        /*border: 1px solid;*/
    }
    #lets-connect .lets-connect-content .input-list .social {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        justify-content: space-between;
        width: 110px;
    }

    #lets-connect .lets-connect-content .input-list .social a .facebook {
        width: 32px;
        height: 32px;
        background-size: 169px;
        background-position: 670px 496px;
        background-image: url(../images/lets-connect/socials.png);
    }

    #lets-connect .lets-connect-content .input-list .social a .instagram {
        width: 32px;
        height: 32px;
        background-size: 169px;
        background-position: 500px 454px;
        background-image: url('../images/lets-connect/socials.png');
    }

    #lets-connect .lets-connect-content .input-list .social a .gmail {
        width: 32px;
        height: 32px;
        background-size: 169px;
        background-position: 206px 497px;
        background-image: url('../images/lets-connect/socials.png');
    }




    #lets-connect .lets-connect-content .input-list .contact {
        margin-top: 48px;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .first-name {
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
    }


    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .first-name input {
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .last-name {
        display: flex;
        flex-direction: column;
        /*padding-top:32px;*/
        flex-basis: 45%;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .first-last-name .last-name input {
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .email {
        display: flex;
        flex-direction: column;
        padding-top: 32px;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .email input {
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .message {
        display: flex;
        flex-direction: column;
        padding-top: 32px;
    }

    #lets-connect .lets-connect-content .input-list .contact .contact-list .message textarea {
        width: 100%;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    #lets-connect .lets-connect-content .input-list .send {
        margin-top: 42px;
    }

    #lets-connect .lets-connect-content .input-list .send a {
        text-decoration: none;
    }

    #lets-connect .btn-submit {
        font-family: "Roboto Light";
        font-weight: 400;
        font-size: 26px;
        padding: 2% 4% 2% 4%;
        background-color: #d99c52;
        border: none;
        color: #FFFFFF;
    }
}